.input {
  margin-bottom: 14px;
  padding: 18px;
  border-radius: 12px;
  width: 100%;
  background-color: var(--bg-color);
  border: none;
  outline: none;
}
.react-datepicker {
  border: 2px solid #000;
  background-color: #f0f0f0;
}

.react-datepicker__header {
  background-color: #333;
  color: #fff;
}

.react-datepicker__day--selected {
  background-color: #00bfff;
  color: white;
}

.react-datepicker__day:hover {
  background-color: #ddd;
}
