.form {
  margin-bottom: 40px;
}
.position {
  position: relative;
}
.location {
  display: block;
  margin-bottom: 8px;
  color: #6c717b;
}
.input {
  padding: 20px 48px;
  border-radius: 12px;
  border: none;
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
}
.icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.input:focus {
  border: 1px solid var(--active-color);
  outline: none;
}
