.navBar {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #dadde1;
  margin-bottom: 44px;
  padding-bottom: 24px;
}

.active {
  /* border-bottom: 2px solid var(--btn-color);
  padding-bottom: 24px; */
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -27px;
  width: 100%;
  height: 5px;
  background-color: var(--btn-color);
}
