.list {
  margin-bottom: 32px;
}

.btn {
  display: flex;
  margin: 0 auto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.005em;
  text-align: center;
  padding: 16px 32px;
  border: 1px solid #dadde1;
  border-radius: 200px;
  background-color: transparent;
}
