.item {
  padding: 24px;
  display: flex;
  border: 1px solid #dadde1;
  border-radius: 20px;
  gap: 24px;
}
.item:not(:last-child) {
  margin-bottom: 24px;
}
.wrapper {
  flex-grow: 1;
}

.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 8px;
  color: var(--dark-color);
}

.img {
  object-fit: cover;
  object-position: 60%;
  border-radius: 10px;
}
.nameContainer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.innerReviews {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.innerLocation,
.reviews {
  display: flex;
  align-items: center;
  line-height: 1.5;
  color: var(--dark-color);
}

.innerPrice {
  display: flex;
  align-items: center;
}
.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
}
.favouriteBtn {
  background-color: transparent;
  border: none;
}

.active {
  fill: var(--active-color);
}
.desc {
  line-height: 1.5;
  color: var(--light-dark-color);
  margin-bottom: 24px;
}
.filterList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}
.filterItem {
  display: flex;
  align-items: center;
  padding: 12px 18px;
  background-color: var(--filter-bg);
  border-radius: 100px;
  gap: 8px;
}
.filterName {
  font-size: 500;
  font-size: 16;
  line-height: 1.5;
  color: var(--dark-color);
}

.showMore {
  padding: 16px 40px;
  border-radius: 200px;
  border: none;
  background-color: var(--active-color);
  color: var(--white);
}
