.header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68px;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--filter-bg);
}
