.wrap {
  width: 360px;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--light-dark-color);
}

.search {
  font-weight: 500;
  font-size: 16;
  line-height: 1.5;
  letter-spacing: -0.005em;

  margin-top: 40px;
  padding: 16px 56px;

  border-radius: 200px;
  border: none;
  color: var(--white);
  background-color: var(--btn-color);
  transition: background-color 250ms ease-in;
}
.search:hover {
  background-color: var(--btn-active);
}
