:root {
  --star-active: #ffc531;
  --star-disabled: #f2f4f7;
  --btn-color: #e44848;
  --btn-active: #d84343;
  --dark-color: #101828;
  --light-dark-color: #475467;
  --white: #ffffff;
  --bg-color: #f7f7f7;
  --filter-bg: #f2f4f7;
  --active-color: #d84343;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;

  /* line-height: 1.29;
  letter-spacing: -0.01em;

  color-scheme: light dark;
  color: var(--color-font-main);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1440px) {
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  /* display: block; */
}

button {
  cursor: pointer;
}

img {
  display: block;
  /* max-width: 100%;
  height: auto; */
}

input,
textarea,
select {
  background-color: transparent;
  color: inherit;
}
